*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root{
    --a--color:#F5CB00 ;
    --b--color:#E6E2DD;
    --c--color:#000000;
}

#menuPrincipal{
    background-color: var(--a--color);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1;

}


#contenedor-menu{
  position: relative;
  right: 100px;
}

.button-menu{

    border-style: none ;
    padding: 10px 20px;
    background-color: transparent;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    
}


.centrar{
    align-items: center;
}


.titulos1{
    width: 500px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 750;
    font-style: normal;
    font-size: 75px;
}

p{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.texto{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;    
}

#encabesado1{
    background-color: white;
}

#imagen1{
    position: relative;
    left: 50px;
    top: 30px;
}

#subencabesado1{
    width: 500px;
    position: relative;
    left: 750px;
    bottom: 400px;
    display: flex;
    flex-direction: column;
}

#boton-encabesado1{
    border-style: solid;
    border-color: transparent;
    background-color: var(--a--color);
    width: 130px;
    height: 30px;
    position: relative;
    top: 20px;

}

#encabesado2{
    background-color: var(--a--color);
}

#articulo1{
    position: relative;

    width: 90%;
    height: auto;
    background-color: var(--b--color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#texto1{
    width: 600px;
    display: flex;
    flex-direction: column;
}

#texto2{
    padding: 20px;
}


.seccion1{
    background-color: var(--a--color);
    height: 110vh;
}
#secc1{
    width: 700px;
    font-size: 70px;
    position: relative;
    left: 30px;
    top: 190px;
}

#img05-1{
    position: relative;
    left: 350px;
    top: 50px;
    padding: 0px 0px 50px;
}

#p1{
    width: 500px;
    position: relative;
    top: 210px;
    left: 20px;
}

#secc1-buton{
    background-color: var(--c--color);
    color: var(--b--color);
    font-size: 18px;
    width: 200px;
    height: 50px;
    position: relative;
    bottom: 390px;
    left: 20px;
}

footer{
    background-color: black;
}
  