*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root{
    --a--color:#F5CB00 ;
    --b--color:#E6E2DD;
    --c--color:#000000;
}

#menuPrincipal{
    background-color: var(--a--color);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px 3px 10px 0px gray;  
    position: sticky;
    top: 0;
    z-index: 1;

}


#contenedor-menu{
  position: relative;
  right: 100px;
}

.button-menu{

    border-style: none ;
    padding: 10px 20px;
    background-color: transparent;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    
}


.centrar{
    align-items: center;
}


.titulos1{
    width: 500px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 750;
    font-style: normal;
    font-size: 75px;
}

.titulos2{
    width: 500px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 850;
    font-style: normal;
    font-size: 35px;
}



p{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.texto{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;    
}

#encabesado1{
    background-color: white;
    height: 55vh;
}

#imagen1{
    position: relative;
    left: 50px;
    top: 30px;
}

#subencabesado1{
    width: 500px;
    position: relative;
    left: 750px;
    bottom: 400px;
    display: flex;
    flex-direction: column;
}

#boton-encabesado1{
    border-style: solid;
    border-color: transparent;
    background-color: var(--a--color);
    width: 130px;
    height: 30px;
    position: relative;
    top: 20px;

}

#encabesado2{
    background-color: var(--a--color);
}

#articulo1{
    width: 100%;
    height: 400px;
    box-shadow: 15px 20px 20px 0px #beaaaa;    
    background-color: var(--b--color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#titulo-header{
    color: var(--a--color);
    width: 270px;
    padding: 0px 0px 15px 0px;
}

#boton-header{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto; 
    padding: 15px 0px 0px 0px;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    color: var(--c--color);
}

#posicion-secc1{
    width: 90%;
    position: relative;
    top: 120px;
    left: 100px;
}

#texto1{
    width: 600px;
    display: flex;
    flex-direction: column;
}

.texto2{
    padding: 20px;
}


.seccion1{
    background-color: var(--a--color);
    height: 110vh;
}
#secc1{
    width: 700px;
    font-size: 70px;
    position: relative;
    left: 30px;
    top: 190px;
}

#img05-1{
    position: relative;
    left: 350px;
    top: 50px;
    padding: 0px 0px 50px;
}

#p1{
    width: 500px;
    position: relative;
    top: 210px;
    left: 20px;
}

#secc1-buton{
    background-color: var(--c--color);
    color: var(--b--color);
    font-size: 18px;
    width: 200px;
    height: 50px;
    position: relative;
    bottom: 390px;
    left: 20px;
}

.secc2{
    height: 85vh;
}

#secc2-aside{
    background-color: var(--b--color);
    box-shadow: 15px 20px 20px 0px #b1a8a8;   
    display: flex;
    flex-direction: row;
    width: 80%;
    position: relative;
    top: 80px;
    left: 180px;
}

#secc2-image1{
    width: 550px;
    height: 650px;
}

#secc2-image2{
    width: 330px;
    height: 300px;
    position: relative;
    top: 80px;
    left: 80px;
}

#secc2-texto{
    display: flex;
    flex-direction: column;
}

#secc2-titulo{
    width: 300px;
    font-size: 55px;
    font-family: "Bebas Neue", sans-serif;
    color: var(--a--color);
    position: relative;
    left: 50px;
    top: 25px;
}

#secc2-p{
    font-size: 15px;
    padding: 5px 0px 20px 0px;
    width: 300px;
    position: relative;
    top: 35px;
    left: 52px;
}

.secc2-buton{
    background-color: var(--c--color);
    color: var(--b--color);
    font-size: 18px;
    width: 200px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 52px;
}

.secc3{
    height: 85vh;
    background-color: var(--c--color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#secc3-titulo{
    color: var(--a--color);
    font-weight: 200;
    font-size: 33px;
    text-align: center
}

#secc3-imagen{
    width: 1000px;
}

#secc3-texto{
    color: var(--b--color);
    width: 700px;
}

.secc3-boton{
    border-style: solid;
    border-color: transparent;
    background-color: var(--a--color);
    width: 130px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
}

.secc4{
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contenedor-secc4{
    position: relative;
    top: 200px;
    left: 50px;
    height: min-content;
    display: flex;
    flex-direction: column;
}

#secc4-image{
    padding: 50px 0px;
    width: 800px;
    height: 700px;
}

#secc4-titulo{
    text-align: center;
}

#secc4-texto{
    width: 500px;
    padding: 15px 0px;
}

.secc5{
    height: 80vh;
    background-color: var(--b--color);
}



#secc5-posicion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around ;

}

#secc5-h2{
    width: 500px;
    font-size: 50px;
}

#secc5-p{
    width: 500px;
    padding: 15px 0px 15px 0px;
}

#secc5-imagen{
    width: 700px;
    position: relative;
    top: 30px;
    right: 40px;
}

.secc6{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contenido-secc6{
    display: flex;
    flex-direction: row;
}

#secc6-formulario{
    background-color: var(--c--color );
    height: 500px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario{
    border-style: solid ;
    border-color: white;
    background-color: transparent;
    height: 35px;
}

#form-group1{
    color: white;
    width: 380px;
    display: flex;
    flex-direction: row;
}

#form-group2{
    color: white;
    width: 378px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#password{
    width: 350px;
}

#email{
    width: 350px;
}

#Mensaje{
    height: 100px;
    width: 350px;

}

#color{
    color: white;
    width: 380px;
    font-size: 17px;
}

#secc6-text{
    width: 600px;
    position: relative;
    left: 50px;
    top: 100px;
}

#secc6-titulo{
    color: var(--a--color);
    font-size: 45px;
    padding: 10px 0px;
}

.secc6-buton{
    background-color: var(--c--color);
    color: var(--b--color);
    font-size: 18px;
    width: 200px;
    height: 50px;
    
}


.secc7{
    background-color: var(--a--color);
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#secc7-titulo{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 55px;
}

#secc7-boton{
    background-color: var(--c--color);
    color: white;
    font-size: 28px;
    height: 55px;
    width: 200px;
}

footer{
    background-color: black;
    height: 40vh;
}

#logoWhite{
    position: relative;
    top: 50px;
    left: 20px;
}

#footer-lista1{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 80px;
}

.footer-lista{
    color: var(--a--color);
    padding: 0px 20px;
}

#linea{
    width: 90%;
    padding: 20px 0px 20px 90px;
    position: relative;
    top: 80px;
}

#link{
    color: var(--a--color);
    padding: 20px 0px;
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 480px){


    #menuPrincipal{
        padding: 0px 4px;
    }

    #contenedor-menu{
        position: relative;
        right: 10px;
    
    }

    .button-menu{
        padding: 0px 1px;
        font-size: 13px;
    }

    .titulos1{
        width: 350px;
        font-size: 35px;
    }


    #imagen1{
        display: none;
    }

    #encabesado1{
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    #subencabesado1 {
        padding: 0px;
        width: 350px;
        position: static;
    }

    #boton-encabesado1{
        position: static;
    }

    #posicion-secc1{
        top: 50px;
        left: 20px; 
    }

    #articulo1{
        height: 330px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #texto1{
        width: 300px;
        align-items: flex-start;
    }

    .texto2{
        display: none;
    }

    .seccion1{
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #secc1-buton{
        width: 300px;
        position: static
    }

    #secc1 {
        margin: 0;
        position: static;
        width: 320px;
        font-size: 33px;
    }

    #p1 {
        position: static;
        margin: 0;
        width: 320px;
        padding: 10px 0px;
        
    }

    #img05-1{
        display: none;
    }

    .secc2{
        height: 350px;
    }

    #secc2-titulo{
        font-size: 33px;
    }

    #secc2-image1{
        display: none;
        
    }

    #secc2-p{
        width: 330px;
        top: 35px;
        left: 12px;
    }

    #secc2-aside{
        background-color:white;
        box-shadow: none;
        position: static;
    }

    #secc2-image2{
        display: none;
    }

    .secc3{
        height: auto;
        padding: 10px 0px;
    }

    #secc3-texto{
        padding: 5px 0px;
        width: 350px;
    }

    p{
        font-size: 13px;
    }

    #secc3-imagen{
        padding: 5px 0px;
        width: 350px;
    }

    .secc4{
        height: 250px;
        padding: 10px 5px;
        align-items: center;
        justify-content: center;
    }

    #secc4-image {
        display: none;
    }

    #secc4-texto{
        width: 350px;
        text-align: center;
    }

    #contenedor-secc4{
        width: 350px;
        position: static;
    }

    .titulos2{
        width: 350px;
    }

    #secc5-imagen{
        display: none;
    }

    #secc5-posicion {
        position: static;
    }
    
    .secc5{
        height: 300px;
        display: flex;
        justify-content: center;
    }

    #secc5-h2{
        width: 350px;
        font-size: 35px;
    }
    
    #secc5-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #secc5-p{
        width: 340px;
    }

    #secc6{
        height: 800px;
    }

    #contenido-secc6{
        height: 900px;
        width: 350px;
        position: relative;
        bottom: 150px;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start
    }

    #secc6-titulo{
        width: 340px;
        font-size: 25px;
        padding: 0px;
    }

    #secc6-text{
        padding: 10px 5px;
        width: 300px;
        left: 0px;
        top: 0px;
    }

    #secc6-formulario{
        height: 400px;
        width: 350px
    }

    .letra-secc6{
        width: 120px;
        font-size: 13px;
    }

    #mapa{
        width: 300px;
        height: 300px;
    }

    #form-group1{
        width: 330px;
    }

    #form-group2{
        width: 330px;
    }

    .formulario{
        width: 163px;
    }


    #email,#password,#Mensaje{
        width: 330px;
    }

    #color{
        width: 330px;
        height: 270px;
        font-size: 13px;

    }

    .secc7{
        height: 40vh;
        padding: 10px 0px;
    }

    #secc7-titulo{
        font-size: 35px;
    }

    #secc7-boton{
        font-size: 18px;
    }

    footer{
        height: 400px;
    }

    #linea{
        padding: 0px 0px 5px 10px;
        top: 90px;
    }
}